
<!DOCTYPE html>
   <head>
	<title>Bitcoin and Altcoin trades</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='coin-icon-2.jpg') }}">

   </head>
   <body>
	<header>
	        <h1>Bitcoin and Altcoin trades</h1>
	</header>

	<section>
	<h2>Prices and balances</h2>
	<div>
		<p>Total value: € {{ tot_bal_euro }}</p>
		<p>Balance: {{ balance }}</p>
		<p>Price: € {{ price }}</p>

	</div>

	</section>

		<p>{{  log_data  }}</p>


	</section>

   </body>
</html>
