
<!DOCTYPE html>
   <head>
	<title>Bitcoin and Altcoin trades</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='coin-icon-2.jpg') }}">

   </head>
   <body>
	<header>
	        <h1>Bitcoin and Altcoin trades</h1>
	</header>

	<section>
	<h2>Prices and balances</h2>
	<div>
		<h3>Total value: €{{ tot_bal_euro }}</h3>
		<h3>Balance: </h3>
		<p>{{  balance  }}</p>
		{% for key, value in balance.items() %}
			<p>{{  key  }}: {{  value  }}</p>
		{% endfor %}

	</div>

	</section>
		<h2>Action log</h2>
		<div class="log">
			<p><span>Action</span><span>Pair</span><span>Qt</span><span>Price</span><span>Spend</span><span>Timestamp</span><span>Cost</span></p>
			{% for para in log_data %}
				{% for item in para %}
					{% if not loop.last %}

						{% if item == "buy" %}
					    		<span class="buy">{{ item }}</span>
						{% elif item == "sell" %}
					    		<span class="sell">{{ item }}</span>
						{% else %}
				    			<span>{{ item }}</span>
						{% endif %}
					{% else %}
							<span>Cost: € {{ item }}</span>
					{% endif %}
				{% endfor %}
			<br/>
			{% endfor %}
		</div>

	</section>

   </body>
</html>
